name: Test
on:
  - push
  - pull_request
concurrency:
  group: ${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
      - name: CMake
        run: |
          cmake \
            -S . \
            -B build \
            -GNinja \
            -DCMAKE_BUILD_TYPE=Release
      - name: Build
        run: |
          cmake --build build
